.Calculator {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: 20px;
  
    height: 100vh;
  }
  
  .Calculator-header{
    color: white;
    font-size: 25px;
  }
  
  .Calculator-content {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
  
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 286px;
    
    text-align: center;
    
    .content-form {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 5px;
  
      label{
        display: flex;
        align-items: center;
      }
    
      span {
        font-size: 14px;
      }
    
      input {
        margin-left: 5px;
        margin-right: 2px;
        width: 40px;
      }
    }
  
    .buttons{
      display: flex;
      gap: 5px;
  
      button{
        flex: 1;
      }
    }
  
  
  }
  